  /* Andi M. Fadhilul Asyam Hafid */


* {
	margin: 0;
}

body {
	display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
}
.h1-1{
  font-size: 32px;
}

.section-1 {
	font-family: "Lucida Sans", Verdana;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header-1 {
	background-color: #04aa6d;
	color: white;
	padding: 15px;
}

.content-1{
  display: flex;
  gap: 15px;
}

.navbar-1 {
	display: flex;
}
.navbar-1 ul {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 4px;
}

.tabs-1 {
	background-color: #f1f1f1;
	padding: 2px;
	width: 192px;
	border-radius: 4px;
	list-style: none;
	border: gray solid 1px;
	cursor: pointer;
  color: black;
}

.tabs-1:hover {
	background-color: white;
}

.active-tab-1{
  background-color: #04aa6d;
	padding: 2px;
	width: 192px;
	border-radius: 4px;
	list-style: none;
	border: gray solid 1px;
	cursor: pointer;
  color: white;
}

.tabAndContent-1 {
	display: flex;
	gap: 18px;
}

.maincontent-1 {
	display: flex;
	flex-direction: column;

}

.sidebar-1{
  background-color: #32a4e7;
  color: white;
  padding: 28px 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: -moz-fit-content;
  width: fit-content; 
}

.footer-1{
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
  border: gray solid 1px;
  text-align: center;
}

/* Section 2 */


.section-2 {
	font-family: "Arial", sans-serif;
  background-color: #d14836;
}

.section-2 a{
  color: #d14836;
}

.header-2 {
  color: white;
  background-color: transparent;
  padding: 15px;
}

.content-2{
  background-color: white;
}



.navbar-2 {
  display: flex;

}
.navbar-2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs-2 {
  padding: 5px;
  border-radius: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  background-color: #d14836;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
}

.tabs-2:hover {

  background-color: white;
  border: solid 1px #d14836;
  color: #d14836;

}

.active-tab-2{
  padding: 5px;
  border-radius: 40px;
  width: 160px;
  /* Andi M. Fadhilul Asyam Hafid's Style */
  display: flex;
  justify-content: center;
  border: solid 1px #d14836;
  color: #d14836;
  font-weight: 600;
}

.headertext-2{
  font-size: 60px;
}

.samepage-2{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.headerp-2{
  font-size: 30px;
}

.contentheader-2{
  font-size: 26px;
  color: #d14836;
  font-weight: 700;
}
.nostylesheader-2{
  color: #d14836;
}


.tabAndContent-2 {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}

.maincontent-2 {
  display: flex;
  flex-direction: column;
  gap:16px;

}

.sidebar-2{
  padding: 29px 10px;
  background-color: #f6dad7;
  color: #d14836;
  display: flex;
  /* Andi M. Fadhilul Asyam Hafid's Style */
  flex-direction: column;
  gap: 18px;
}

.footer-2{
  color: white;
  text-align: center;
  padding: 10px;
}


